.row {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-areas: 'theDate theLine theContent';
    grid-column-gap: 40px;
    align-items: center; 
  }
  
  .date {
    grid-area: theDate;
    text-align: right;
    padding-right: 10px;
  }
  
  .line {
    grid-area: theLine;
    position: relative;
    background-color: white;
    height: 100%; /* Take the full height of the parent */
    display: flex; /* Center its child (the .ball) */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: brown;
    border: 2px solid yellow;
    border-radius: 50%;
    transition: all 0.5s;
  }
  
  .content {
    grid-area: theContent;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
  }
  
  .content > h2 {
    padding-bottom: 8px;
    color: yellow;
  }
  
  .content > p {
    line-height: 1.5;
  }
  
  .row:nth-child(odd) {
    grid-template-areas: 'theDate theLine theContent';
  }
  
  .row:nth-child(even) {
    grid-template-areas: 'theContent theLine theDate';
  }
  
  .row .content,
  .row .date {
    margin-bottom: 35px;
  }
  
  .date span {
    display: inline-block;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 25px;
    position: relative;
    top: -7px;
  }
  